.header_title{
    padding-top: 63px;
    text-decoration: none;
    color: black;


    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    padding-bottom: 40px;

}
.header{
    display: flex;
    margin: auto;
    width: 1280px;
}
.header_span{
    color: #4BCAFF;

}
.container{

    background:#35444F;
    border: 1px solid white;
    display: flex;
    width: 1280px;
    justify-content: space-between;
    margin: auto;


}
.header_list{


    justify-content: center;
    display: flex;
    flex-grow: 1;
    border: 1px solid white;
}
.header__list{

    display: block;
    /*height: 100%;*/
    text-align: center;
    padding: 1em;



    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;

}
.header__list:hover{
    background:  #222F3A;
    width: 100%;

}
.container_main{
    padding-top: 48px;
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.main_header{
    height: 399px;
    width:  344px;
    border: 1px solid black;
    display: grid;


}
.main_list{
    display: flex;
    text-align: center;

}
.main_link{

    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
    padding: 1em;

}
.main_link:hover{
    width: 100%;
    background: #DBDBDB;
    color: black;

}
.main_content{

    border: 1px solid black;
    width: 885px;
    height: 529px;


}
.content_img{
    padding-top: 75px;
    display: block;
    margin: auto;
    justify-content: center;

}
.aside{


    display: flex;
    width: 1280px;
    margin: auto;
    justify-content:flex-end;


}
.aside_content{
    width: 885px;
}
.container_footer{

    background:rgba(99, 105, 110, 0.48);
    border: 1px solid white;
    display: flex;
    height: 69px;
    width: 1280px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 30px;



}
.footer_list{
    margin: auto;
    display: block;
    flex-grow: 1;

}
.footer_link{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    display: block;
    flex-grow: 1;
    padding-left: 5px;
    text-align: center;


}
.footer__link {

    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #0C1927;


}
.footer__list {
    flex-grow:5;
    text-align: center;
    margin: auto;

}
.aside_container{
    padding-top: 37px;
    padding-bottom: 54px;
}
.footer_link:hover{
    width: 100%;
    color: darkcyan;
    text-decoration: underline;
}




